body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (max-width: 499px) {
  body {
    margin: 0 auto !important;
    align-items: center !important;
    width: 100% !important;
  }
}